#page-home {
  height: 100vh;
  background: fixed url('../../assets/home-background.svg') no-repeat 35vw center;
}

#page-home .content {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#page-home .content header {
  margin-top: 48px;
}

#page-home .content main {
  flex: 1;
  max-width: 560px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-home .content main h1 {
  font-size: 54px;
}

#page-home .content main p {
  font-size: 24px;
  line-height: 38px;
  margin-top: 24px;
}

#page-home .content main a {
  width: 100%;
  max-width: 360px;
  height: 72px;
  border-radius: 8px;
  background: var(--primary-color);

  display: flex;
  align-items: center;
  overflow: hidden;

  margin: 40px 0;
  transition: background-color 250ms;
}

#page-home .content main a span {
  background: rgba(0, 0, 0, 0.08);
  width: 72px;
  height: 72px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#page-home .content main a span svg {
  color: #fcfcfc;
  width: 20px;
  height: 20px;
}

#page-home .content main a strong {
  flex: 1;
  text-align: center;
  color: #fcfcfc;
}

#page-home .content main a:hover {
  background-color: var(--primary-color-hover);
}

@media (min-width: 1700px) {
  #page-home {
    background-position-x: 45vw;
  }
}

@media (max-width: 1140px) {
  #page-home {
    background-position-x: 200vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home .content header {
    margin: 48px auto 0;
  }

  #page-home .content main {
    align-items: center;
  }

  #page-home .content main h1 {
    font-size: 52px;
  }

  #page-home .content main p {
    font-size: 22px;
  }
}

@media (max-height: 900px) {
  #page-home {
    background-position-y: 150px;
  }
}

@media (max-width: 454px) {
  #page-home .content main a span {
    display: none;
  }
  #page-home .content main a {
    max-width: 288px;
  }
  #page-home .content main h1 {
    font-size: 40px;
  }
}

@media (max-width: 300px), (max-height: 600px) {
  #page-home {
    height: 110vh;
  }

  #page-home .content header {
    margin-bottom: 48px;
  }
}
